*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#titulo{
    color: #20F520;
    text-align: center;
}

#subtitulo{
    color: #1cca1c;
    /*margin-left: 10%;*/
    text-align: center;
}

fieldset{
    border: 0;
}

body{
    background-color: #170122;
    color: beige;
    justify-content: center;
    font-size: 1em;
}

input, select, textarea, button{
    border-radius: 5px;
    font-size: 1em;
}

.grupo:before, .grupo::after{
    display:table
}

.grupo:after{
    clear:both
}

.campo{
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: o.2em;
    border: 1px solid #1cca1c;
    box-shadow: 2px 2px 2px #1cca1c;
    display:block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #8bdb8b;
}

.botao{
    font-size: 1.2em;
    background: #20F520;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #1cca1c;
    text-shadow: 1px 1px 1px #49006B;


}

.botao:hover{
    background: #8bdb8b;
}

.botao, select{
    cursor:pointer;
}

#check {
    display: inline-block;
}

#caixa{
    background-color: #49006B;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
}

#conteudo{
    /*margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;*/
    padding: 2% 8%;
    border-radius: 5px;
}

#botao{
    text-align: center;
}

#experiencia{
    padding: 0.5em 0.5em;
}

#inicio{
    color: white;
    text-decoration: none;

}